<div class="container">
  <form
    [formGroup]="weatherSearchForm"
    (ngSubmit)="sendToAPIXU(weatherSearchForm.value)"
  >
    <div class="main-search-input-wrap form-group">
      <div class="main-search-input fl-wrap">
        <div class="main-search-input-item">
          <input
            type="text"
            value=""
            placeholder="Pick A Place"
            class="form-control"
            id="weatherLocation"
            formControlName="location"
          />
        </div>

        <button class="main-search-button" type="submit">Search</button>
      </div>
    </div>
  </form>

  <div class="weather-widget">
    <img src="{{this.weatherData?.current.weather_icons}}" alt="" class="imgw">
    <h4 class="withimg">{{this.weatherData?.current.weather_descriptions}}</h4>
    <h2>Weather Details</h2>
    <h3>Country :{{ this.weatherData?.location.country }}</h3>
    <h3>Region :{{ this.weatherData?.location.region }}</h3>
    <h3>Temperature : {{this.weatherData?.current.temperature}} <span>&#8451;</span></h3>
    <h3>Humidity :{{ this.weatherData?.current.humidity }}</h3>

  </div>
</div>
