/* You can add global styles to this file, and also import other style files */
html {
  background-image: url("src\app\evening-cloudy-sky-purple-background-with-group-cumulus-cirrus-clouds-flat-cartoon-illustration_1284-62768.avif");
  background-repeat: none;
  background-size: cover;
}
